.jumbotron {
  text-align: center;
  background-color: rgb(250, 223, 149);
}
body {
  background-color: rgb(109, 245, 245);
}
.diningTable {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li {
  padding: 5px;
  margin: 5px;
  font-weight: bolder;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
}
h2 {
  text-align: center;
}
